<body class="hold-transition login-page">
<div>
<img class="rounded" src="\images\image_processing20191213-30873-ptjcvw.gif" alt="">
</div>

<script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                window.location = "/";
            }, 3000);
        });
    </script>
